<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apphairnew">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.FluxoCaixa"></activity>
        <activity android:name=".ui.ListaHorario" />
        <activity android:name=".ui.PesquisaServico" />
        <activity android:name=".ui.PesquisaContato" />
        <activity android:name=".ui.CtsPagarLista" />
        <activity android:name=".ui.AreaTeste" />
        <activity android:name=".ui.CtsReceberLista" />
        <activity android:name=".ui.TesteFragment" />
        <activity android:name=".ui.ContatoLista" />
        <activity android:name=".ui.LiqContasPagar" />
        <activity android:name=".ui.LiqContasReceb" />
        <activity android:name=".ui.AddContasPagar" />
        <activity android:name=".ui.DetalheAgendamento" />
        <activity android:name=".ui.ServicoListaTeste" />
        <activity android:name=".ui.ServicoLista" />
        <activity android:name=".ui.AddContasReceber" />
        <activity android:name=".ui.CadastroContato" />
        <activity android:name=".ui.CadastroServico" />
        <activity android:name=".ui.TesteCep" />
        <activity android:name=".ui.Agenda" />
        <activity android:name=".ui.ConcluirServico" />
        <activity android:name=".ui.DashBoard" />
        <activity android:name=".ui.NovoContato" />
        <activity android:name=".ui.CadastroUsuario" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ui.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>